@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");
body {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 300;
}
td {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
#screen {
  height: 180px;
}
#screenDisplay {
  text-align: right;
  padding: 10px;
  word-break: break-all;
}

table {
  color: white;
  border-radius: 30px;
  background-color: black;
  border-spacing: 10px;
}
.button {
  border-radius: 50%;
  background-color: rgba(109, 108, 108, 0.8);
  cursor: pointer;
}

#equal,
#clear {
  background-color: rgba(109, 108, 108, 0.8);
  border-radius: 40px;
}
#add,
#sub,
#mult,
#divided {
  background-color: rgb(234, 192, 64);
}
#clear,
#delete {
  background-color: rgb(157, 153, 153);
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}
.button:hover,
#add:hover,
#sub:hover,
#mult:hover,
#divided:hover,
#delete:hover,
#clear:hover,
#equal:hover {
  background-color: rgba(20, 20, 10, 0.9);
}
